@mixin cardcurso($fondo){
    background: $fondo;
    max-width: 319px;

}

.card1{
    @include cardcurso(#5f5f5f);
}

.card2{
    @include cardcurso(#757575);
}

.card3{
    @include cardcurso(#8e8e8e)
}



.card-title {
    font-size: 30px;
    font-family: $font-family_1;
    color: #14213d;

}

.card-text {
    font-size: 15px;
    font-family: $font-family_1;
    color: #14213d;
}

