@import url(https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap);
@import url(https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff);

body {
	background: #b0b0b0;
	font-family: $font-family_1;
	position: relative;
	min-height: 100vh;
}

main {
	text-align: center;
	font-family: $font-family_1;
	height: 100%;
	padding-bottom: 70px;
}


